.demo {
    /* margin: 16px; */
  }
  .demo-nav {
    height: 50px;
    line-height: 50px;
    font-size: large;
    /* margin-bottom: 16px; */
    background: hsl(0, 0%, 8%);
  }
  .demo-nav a {
    /* line-height: 30px; */
    padding: 0 8px;
  }
  /* .app-list {
    margin-top: 16px;
  } */